input[type="text"],
input[type="email"],
textarea {
    border : 1px solid #ccc   ;
    width: 90% ;
    margin-left : auto ;
    margin-right: auto ;
    margin-bottom : auto ;
    padding: 10%;
    border-radius : 3px ;
    background-color : grey ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
input[type="radio"] 
{
    border : none  ;
    width: 2% ;
    color: #fff ;
    padding: 10px 20px ;
    margin-left : auto ;
    border-radius: 3px ;
    cursor : pointer ;
    
    border-radius : 50% ;

}
legend{
    color : blue ;
    width: auto;
    font-weight: bold;
}

h1
{
   color : blue ;
   font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
}
.ll{
    text-decoration: line-through ;
    color : red ; 
}
fieldset{
    order : 1px solid #ccc   ;
    
    margin-left : auto ;
    margin-right: auto ;
    margin-bottom : 10px ;
    padding: 10%;
    border-radius : 50px ;
    background-color : yellow ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}